.table-container {
    max-width: 90%;
    overflow-x: auto;
    margin: 1rem auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 8px;
}

.table-header {
    color: #fff;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr {
    transition: all ease 0.2s;
}

th {
    background-color: #382f60;
}

table img {
    max-width: 105px;
    height: auto;
}

td div {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 0.4rem 0.2rem;
    border-radius: 50%;
    place-items: center;
    transition: all ease 0.2s;
}

td div:hover {
    background-color: #ddd;
}

td .icon {
    color: #382f60;
    font-size: 21px;
    cursor: pointer;
}