a {
    color: inherit;
    text-decoration: inherit;
    transition: all ease 0.2s;
}

.sidebar-item {
    width: 100%;
    padding: 0.5rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}