.content {
    padding: 0.5rem;
    display: grid;
    place-items: center;
    position: absolute;
    top: 70px;
    left: 19%;
    right: 0;
}

@media screen and (max-width: 1200px) {
    .content {
        left: 0;
    }
}