.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-height: 270px;
    max-width: 400px;
    border-radius: 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.049);
}

.categ {
    color: #72b0a0;
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.product-img {
    flex: 1;
    height: 100%;
    border-radius: 7px 0 0 7px;
}

.product-img img {
    border-radius: 7px 0 0 7px;
    height: 270px;
    width: 150px;
    object-fit: cover;
}

.product-info {
    flex: 1;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.product-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-text h1 {
    margin: 0;
    padding-top: 10px;
    font-size: 24px;
    color: #474747;
}

.product-text h1,
.product-price-btn p {
    font-family: 'Bentham', serif;
}

.product-text h2 {
    margin: 0 0 10px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #b6b4b4;
    letter-spacing: 0.2em;
}

.product-text p {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.product-price-btn {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.product-price-btn p {
    margin: 0;
    font-family: 'Trocchi', serif;
    font-size: 20px;
    font-weight: lighter;
    color: #474747;
}

span {
    font-family: 'Suranna', serif;
    font-size: 24px;
}

.product-price-btn button {
    flex-shrink: 0;
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #62bca4;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out;
}

.product-price-btn button:hover {
    background-color: #79b0a1;
}

.star-img {
    height: 15px;
    width: 15px;
}