.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 19%;
    background-color: #1C2536;
    color: #fff;
    z-index: 989898989898989;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.2rem;
}

.sidebar .icon {
    font-size: 17px;
    color: #6C737F;
}

.sidebar.slide-right {
    width: 30%;
    left: 0;
}

.side-links {
    width: 100%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-size: 22px;
    color: #6C737F;
}

.social-icon {
    transition: all 0.2s ease;
}

.social-icon:hover {
    color: #9C27B0;
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .sidebar {
        left: -101%;
    }
}

@media screen and (max-width: 768px) {
    .sidebar.slide-right {
        width: 75%;
        left: 0;
    }
}