* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    place-items: center;
}

::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #382f60;
}

.fade-in {
    animation: fadeIn ease 0.2s;
}

.primary-button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background-color: #6366F1;
    color: #fff;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: all ease 0.1s;
    align-self: flex-end;
}

.primary-button:hover {
    background-color: transparent;
    color: #6366F1;
    border: 1px solid #6366F1;
    font-weight: bold;
}

.account-menu {
    position: absolute;
    top: 58px;
    right: 18px;
}

.notification-menu {
    position: absolute;
    top: 58px;
    right: 38px;
}

.sign-out {
    width: 100%;
    background-color: transparent;
    border: none;
    transition: all ease 0.2s;
    padding: 0.5rem;
    cursor: pointer;
}

.sign-out:hover {
    background-color: #ddd;
}

.line {
    height: 1px;
    margin: 0.5rem 0;
    background-color: #ddd;
}

.side-line {
    background-color: #6643B5;
    height: 2px;
    width: 100%;
}

.sidebar .logo {
    max-width: 50px;
    height: auto;
}

@keyframes fadeModal {
    from {
        transform: scale(0.4);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes HideMenu {
    to {
        transform: scale(0);
        opacity: 0;
        display: none;
    }
}

@keyframes showSearch {
    from {
        transform: scale(0);
        transform-origin: left;
    }
    to {
        transform: scale(1);
        width: 90%;
        transform-origin: left;
    }
}

@keyframes hideSearch {
    to {
        transform: scale(0);
        display: none;
        transform-origin: left;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}